body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:transparent;

color:rgb(255, 0, 0);

font-family:Arial;

overflow:hidden;

}

/* VIDEO */

#bg-video{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

object-fit:cover;

z-index:-1;

display:none;
pointer-events:none;

}

/* TEXT */

.container{

text-align:center;

z-index:1;

}

button{

padding:15px 25px;

font-size:18px;

background:rgb(86, 194, 237);

color:rgb(255, 0, 0);

border:none;

border-radius:10px;

cursor:pointer;

}

h1{

font-size:45px;

}